.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  margin-top: -150px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 40s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.separation {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  width: 100%;
  width: calc(100% + 60px);
  margin-left: -30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  margin: 30px;
}

.startbutton[disabled=""] {
  background-color: #aaaaaa;
}

.startbutton[disabled=""]:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  background-color: #aaaaaa;
}


.stopbutton[disabled=""] {
  background-color: #aaaaaa;
}

.stopbutton[disabled=""]:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  background-color: #aaaaaa;
}

.startbutton {
  float: left;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.startbutton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #6ecf61
}

.stopbutton {
  background-color: #ea3b3b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.stopbutton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #DA1F40
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeIn {animation: 2s fadein}
.fadeOut {animation: 2s fadeout}
@keyframes fadein {  to {opacity: 1;} }
@keyframes fadeout {  to {opacity: 0;} }

.bottom-right-img {
  position: fixed;
  bottom: 50px;
  right: 50px;

}

.gears {
  width: 100px;
}

.icon1 {
  width: 300px;
  bottom: 0px;
  right: 0px;
}

.blink {
  color: cyan;
  animation: blinker 1s infinite;

}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

#front-title {
  font-family: 'Dyuthi';
  font-size: 130%;
}

#stylish {
  color: "cyan";
}

.questions {
}

.question-left {
  position: relative;
  font-size: 200%;
  text-align: left;
  padding: 40px;
}

.question-right {
  position: relative;
  font-size: 200%;
  text-align: right;
  padding: 40px;
}

.page p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;

}

.about-div{
  margin: auto;
  width: 70%;
}

#action-phase {
  margin: auto;
  width: 60%;
}


#logo {
  font-family: Dyuthi;
  font-size: 100%;
}

#cyan {
  color: #00FFFF;
}


@font-face {
    font-family: 'Dyuthi';
    src: url('../fonts/Dyuthi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.agents-div {
  text-align: left;
}

td {
  text-align: justify;
  vertical-align: top;
  width: 50%;
  padding: 10px;

}

tr {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.agent {
  border-left: solid .3em #00B572;
  padding: 20px;
}

.agent-icon {
  height: 100px;
}

.green {
  color: #00B572;
}

.hypothesis {
  border-left: solid .3em #33FFFF;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E4FFFF;
}

.critique {
  border-left: solid .3em #EBB707;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FEF4D5;
}

summary {
  cursor: pointer;
  color: #00B572;
  padding-bottom: 1em;
  font-size: 2em;
  text-align: left;
}

summary:hover {
  text-decoration: underline dotted;
}

h3 {
  color: #CCCC00;
}

.agents-div {
  width: 80%;
  left: auto;
  margin: auto;
  text-align: justify;
}

.interactions-div {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.png-interactions{
  width: 100%;
}

.biblio-div {
  width: 70%;
  margin: auto;
  line-height: 1.3em;
  text-align: left;
}

.biblio-div div {
  margin-top: 1em;
}

.biblio-div h3 {
  margin: 2em;
}

.model-div{
  text-align: justify;
  width: 70%;
  margin: auto;
}

/* TIMELINE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #CCCC00;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #CCCC00;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #CCCC00;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #CCCC00;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -100px;
}

.container.right .date {
  left: -100px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 9px 0;
  top: calc(50% - 25px);
  background: #00B572;
  border: 3px solid #CCCC00;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #CCCC00;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #00B572;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.not-done .content {
  padding: 30px 90px 30px 30px;
  background: #AAAAAA;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.not-done .icon{
  background: #AAAAAA;
}

.not-done .almost-done{
  background: #00B572;
}




.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.container .content a {
  color: #FFFFFF;
}

.container .content a:hover {
  color: #CCCCCC;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #CCCC00 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
